readonly CONFIG_DIR=/opt/snowplow/config

sudo mkdir -p $${CONFIG_DIR}

sudo base64 --decode << EOF > $${CONFIG_DIR}/config.hocon
${config_b64}
EOF

sudo base64 --decode << EOF > $${CONFIG_DIR}/iglu_config.json
${iglu_config_b64}
EOF

sudo docker run \
  -d \
  --name transformer \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
  --log-opt max-size=10m \
  --log-opt max-file=5 \
  --mount type=bind,source=$${CONFIG_DIR},target=/snowplow/config \
  --env AZURE_TENANT_ID=${tenant_id} \
  --env AZURE_CLIENT_ID=${client_id}  \
  --env AZURE_CLIENT_SECRET=${client_secret} \
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env ACCEPT_LIMITED_USE_LICENSE=${accept_limited_use_license} \
  --env INSTANCE_ID=$(get_instance_id) \
  --env CONSUMER_CLIENT_ID="$${HOSTNAME}" \
  --env PRODUCER_QUEUE_CLIENT_ID="$${HOSTNAME}-queue" \
  snowplow/transformer-kafka:${version} \
  --iglu-config /snowplow/config/iglu_config.json \
  --config /snowplow/config/config.hocon

${telemetry_script}
